.waves-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  	transform: translate3d(0,0,0);
  	transform-style: preserve-3d;
}

.profile-icons {
	position: fixed;
	z-index: 9999;
	bottom: 1rem;
	right: 1rem;
	@media only screen and (min-width:$bp-800) {
		bottom: 3rem;
		left: 3rem;
		width: 3rem;
	}
	a {
		display: block;
		text-indent: -9999px;
		width: 1.5rem;
		height: 1.5rem;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		transition: all .25s;
		backface-visibility: hidden;
		@media only screen and (min-width:$bp-800) {
			width: 1.848rem;
			height: 1.848rem;
		}
		&:hover {
			transform: scale(1.5);
		}
		&:not(:last-child) {
			margin-bottom: 1.678rem;
		}
		&.instagram {
			background-image: url($svg-instagram);
		}
		&.linkedin {
			background-image: url($svg-linkedin);
		}
		&.github {
			background-image: url($svg-github);
		}
		&.codepen {
			background-image: url($svg-codepen);
		}
	}
}

$d-desktop-mh: 450px;

.desktop-menu {
	position: fixed;
	transform: translate3d(0, 0, 0) rotate(90deg);
	right: 1rem;
	top: 1.5rem;
	height: 389px;
	width: 389px;
	z-index: 999;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	perspective: 1000;
	display: none;
	pointer-events: none;
	@media only screen and (min-width:$bp-800) {
		display: block;
	}
	a {
		float: left;
		display: block;
		margin-right: 3rem;
		text-transform: uppercase;
		text-decoration: none;
		color: $c-blue;
		@extend .sm_sm;
		letter-spacing: 3px;
		position: relative;
		transition: all .25s;
		pointer-events: all;
		backface-visibility: hidden;
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $c-darkgreen;
			top: 3rem;
			left: 3rem;
			opacity: 0;
			transition: all .25s;
		}
		&:hover {
			transform: scale(1.25);
		}
		&.active {
			color: $c-darkgreen;
			pointer-events: none;
			&:after {
				opacity: 1;
				left: 0;
			}
		}
	}

	a[aria-current="page"] {
	    color: $c-darkgreen;
	    font-weight: bold;
	    pointer-events: none;
	}

	&.submenu a.active {		
		color: $c-blue;
		&:after {
			display: none;
		}		
	}

	@media only screen and (min-width:$bp-800) {
		right: 1.5rem;
		top: 2rem;
		height: $d-desktop-mh;
	    width: $d-desktop-mh;
	}
}

.hamburger {
	position: fixed;
	right: .5rem;
	top: 1rem;
	font-size: 1.8rem;
	width: 3rem;
	height: 3rem;
	background-color: $c-lightblue;
	border-radius: 50%;
	cursor: pointer;
	z-index: 999;
	line-height: 2.85rem;
    text-align: center;
    color: $c-blue;
    font-weight: 300;
	@media only screen and (min-width:$bp-800) {
		display: none;
	}
}

.mobile-menu {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $c-lightblue;
	padding: 3rem;
	transition: all .5s;
	&.closed {
		opacity: 0;
		pointer-events: none;
	}
	&.opened {
		opacity: 1;
		pointer-events: all;
	}
	.close {
		position: absolute;
	    top: 1rem;
	    right: .5rem;
	    font-size: 2.6rem;
	    line-height: 2.75rem;
	    background-color: $c-medblue;
	    height: 3rem;
	    width: 3rem;
	    text-align: center;
	    border-radius: 50%;
	    color: $c-blue;
	    font-weight: 500;
	    cursor: pointer
	}
	.mobile-menu-wrap {
		position: absolute;
	    width: 100%;
	    top: 50vh;
	    transform: translateY(-50%);
	}
	a {
		font-size: 2.4rem;
		width: 100%;
		display: block;
		text-decoration: none;
		color: $c-blue;
		margin-bottom: 2rem;
	}
	a[aria-current="page"] {
	    color: $c-darkgreen;
	    font-weight: bold;
	    pointer-events: none;
	}
	@media only screen and (min-width:$bp-800) {
		display: none;
	}
}

//LOGO
.logo-wrap {
	width: 5rem;
	height: 5rem;
	position: fixed;
	top: 1rem;
	left: 1rem;
	z-index: 9999;
	transition: all .25s;
	&:hover {
		transform: scale(1.25);
	}
	@media only screen and (min-width:$bp-800) {
		top: 2rem;
		left: 2rem;
	}
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}