@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');

/* light */
@font-face {
  font-family: "Helvetica Now";
  font-weight: lighter;
  font-style: normal;
  src: url('../fonts/HelveticaNowTextLight.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-Light.woff2') format('woff2');
}
/* light italic */
@font-face {
  font-family: "Helvetica Now";
  font-weight: lighter;
  font-style: italic;
  src: url('../fonts/HelveticaNowTextLtIt.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-LtIt.woff2') format('woff2');
}
/* regular */
@font-face {
  font-family: "Helvetica Now";
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/HelveticaNowText.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-Regular.woff2') format('woff2');
}
/* italic */
@font-face {
  font-family: "Helvetica Now";
  font-weight: normal;
  font-style: italic;
  src: url('../fonts/HelveticaNowTextIt.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-It.woff2') format('woff2');
}
/* extrabold */
@font-face {
  font-family: "Helvetica Now";
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/HelveticaNowTextBold.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-Bold.woff2') format('woff2');
}
/* extrabold italic*/
@font-face {
  font-family: "Helvetica Now";
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/HelveticaNowTextBdIt.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-BdIt.woff2') format('woff2');
}
/* black*/
@font-face {
  font-family: "Helvetica Now Black";
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/HelveticaNowTextBlack.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-Black.woff2') format('woff2');
}
/* black italic*/
@font-face {
  font-family: "Helvetica Now Black";
  font-weight: bold;
  font-style: italic;
  src: url('../fonts/HelveticaNowTextBlkIt.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-BlkIt.woff2') format('woff2');
}
/* light */
@font-face {
  font-family: "Helvetica Now";
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/HelveticaNowTextLight.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-Light.woff2') format('woff2');
}
/* light italic*/
@font-face {
  font-family: "Helvetica Now";
  font-weight: 300;
  font-style: italic;
  src: url('../fonts/HelveticaNowTextLtIt.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-LtIt.woff2') format('woff2');
}