//COLORS
$c-blue: #2116A5;
$c-lightblue: #CDD9FA;
$c-medblue: #A6BAF2;
$c-yellowgreen: #CFE679;
$c-transgreen: #e4e7e5 ;
$c-yellow: rgba(255,221,92, 1);
$c-orange: rgba(252,106,62, .6);
$c-green: #0dea02;
$c-darkgrey: #333436;
$c-darkgreen: #294206;
$c-aqua: #96A8DB;
$c-text: #454545;

//FONTS
$ff-header: 'Inconsolata', monospace;
$ff-base: 'Helvetica Now', helvetica, arial, sans-serif;

//TEXT SHADOW
$ts-primary: 3px 3px 6px rgba(0,0,0,.16);

//MEDIA QUERIES
$bp-500: 500px;
$bp-600: 600px;
$bp-700: 700px;
$bp-800: 800px;
$bp-900: 900px;
$bp-1000: 1000px;
$bp-1100: 1100px;
$bp-1200: 1200px;
$bp-1250: 1250px;
$bp-1300: 1300px;
$bp-1400: 1400px;
$bp-1500: 1500px;
$bp-1600: 1600px;
$bp-1800: 1800px;
$bp-2000: 2000px;


//DIMENSIONS
$d-max-width-xxl : 110rem;
$d-max-width-xl  : 75rem;
$d-max-width-l  : 70rem;
$d-max-width    : 65rem;
$d-max-width-m  : 60rem;
$d-max-width-sm : 55rem;
$d-max-width-xs : 45rem;